<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="Logs"/>

  <targets>
    <target name="logfile" xsi:type="File" fileName="${logDirectory}/${shortdate}.txt">
      <layout xsi:type="CSVLayout" delimiter="Custom" customColumnDelimiter="|">
        <column name="date" layout="${date:format=HH\:mm\:ss\.fff}" />
        <!--<column name="threadid" layout="${threadid}" />-->
        <column name="level" layout="${level}" />
        <column name="message" layout="${message}" />
        <column name="callsite" layout="${callsite}" />
        <!--<column name="exception" layout="${onexception:EXCEPTION OCCURRED\:${exception:format=tostring,type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />-->
      </layout>
    </target>
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>
